@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Your Tax Matters</h4>
    <p>Taxpayers who fulfil their tax obligations play an important role in the growth and development of their country.</p>
    <p>This application gives you an idea of how your tax obligations are calculated.</p>
</div>
