@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>PROCESSING OF INFORMATION</h4>
<hr />
<ol>
    <li>There is no personal information collected in this application.</li>
    <li>Any other data collected is soley for the application evaluation.</li>
    <li>Feel free to explore. Enjoy!</li>
</ol>
