@page
@model Tax.Matters.Web.Pages.TaxCalculations.TaxCalculatorModel
@{
    ViewData["Title"] = "Tax Calculator";
}
<h1>@ViewData["Title"]</h1>

<h4>Calculate your tax payment</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Calculation.AnnualIncome" class="control-label fs-6"></label>
                <input asp-for="Calculation.AnnualIncome" class="form-control" />
                <span asp-validation-for="Calculation.AnnualIncome" class="text-danger"></span>

            </div>
            <div class="form-group mb-3">
                <label asp-for="Calculation.PostalCode" class="control-label fs-6"></label>
                <input asp-for="Calculation.PostalCode" class="form-control" />
                <span asp-validation-for="Calculation.PostalCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="/TaxCalculations/Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}